<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        Conference Room
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isUserAuthenticated" ><a routerLink="/user/login">Login</a></li>
        <li  *ngIf="!isUserAuthenticated" ><a routerLink="/user/signup">SignUp</a></li>
        <li  *ngIf="isUserAuthenticated" ><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
