<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-md-3">
      <app-company-list></app-company-list>
    </div>
    <div class="col-xs-9 col-md-9"><app-room-list></app-room-list></div>
  </div>
</div>
